<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities." />
    <meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app" />
    <meta name="author" content="pixelstrap" />
    <link rel="icon" href="/assets/dashboard/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/assets/dashboard/images/favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/font-awesome.css" />
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/icofont.css" />
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/themify.css" />
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/flag-icon.css" />
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/feather-icon.css" />
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/slick.css" />
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/animate.css" />
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/animate.css" />
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/select2.css" />
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/todo.css" />
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/datatables.css" />
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/vendors/datatable-extension.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css" />
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/style.css" />
    <link id="color" rel="stylesheet" href="/assets/dashboard/css/color-1.css" media="screen" />
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/responsive.css" />
    <!--  Date Picker -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css"
      integrity="sha512-/Ae8qSd9X8ajHk6Zty0m8yfnKJPlelk42HTJjOHDWs1Tjr41RfsSkceZ/8yyJGLkxALGMIYd5L2oGemy/x1PLg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- loader starts-->
    <!-- <div class="loader-wrapper">
      <div class="loader-index"><span></span></div>
      <svg>
        <defs></defs>
        <filter id="goo">
          <fegaussianblur in="SourceGraphic" stddeviation="11" result="blur"></fegaussianblur>
          <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo"></fecolormatrix>
        </filter>
      </svg>
    </div> -->
    <!-- loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Include header component -->
      <%- include('header') %>
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Include sidebar component -->
        <%- include('sidebar') %>
        <!-- Content container -->
        <%- body %>
        <!-- Include footer component -->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 footer-copyright text-center">
                <p class="mb-0">Copyright 2023 © Design With ❤️ Taufiq Project</p>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- latest jquery-->
    <script src="/assets/dashboard/js/jquery.min.js"></script>
    <!-- Bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <!-- feather icon js-->
    <script src="/assets/dashboard/js/icons/feather-icon/feather.min.js"></script>
    <script src="/assets/dashboard/js/icons/feather-icon/feather-icon.js"></script>
    <!-- scrollbar js-->
    <script src="/assets/dashboard/js/scrollbar/simplebar.js"></script>
    <script src="/assets/dashboard/js/scrollbar/custom.js"></script>
    <!-- Sidebar jquery-->
    <script src="/assets/dashboard/js/config.js"></script>
    <!-- Plugins JS start-->
    <script src="/assets/dashboard/js/sidebar-menu.js"></script>
    <script src="/assets/dashboard/js/clock.js"></script>
    <script src="/assets/dashboard/js/slick/slick.min.js"></script>
    <script src="/assets/dashboard/js/slick/slick.js"></script>
    <script src="/assets/dashboard/js/header-slick.js"></script>
    <script src="/assets/dashboard/js/chart/apex-chart/apex-chart.js"></script>
    <script src="/assets/dashboard/js/chart/apex-chart/stock-prices.js"></script>
    <script src="/assets/dashboard/js/chart/apex-chart/moment.min.js"></script>
    <script src="/assets/dashboard/js/notify/bootstrap-notify.min.js"></script>
    <script src="/assets/dashboard/js/dashboard/default.js"></script>
    <script src="/assets/dashboard/js/typeahead/handlebars.js"></script>
    <script src="/assets/dashboard/js/typeahead/typeahead.bundle.js"></script>
    <script src="/assets/dashboard/js/typeahead/typeahead.custom.js"></script>
    <script src="/assets/dashboard/js/typeahead-search/handlebars.js"></script>
    <script src="/assets/dashboard/js/typeahead-search/typeahead-custom.js"></script>
    <script src="/assets/dashboard/js/height-equal.js"></script>
    <script src="/assets/dashboard/js/animation/wow/wow.min.js"></script>
    <script src="/assets/dashboard/js/editor/ckeditor/ckeditor.js"></script>
    <script src="/assets/dashboard/js/editor/ckeditor/adapters/jquery.js"></script>
    <script src="/assets/dashboard/js/select2/select2.full.min.js"></script>
    <script src="/assets/dashboard/js/select2/select2-custom.js"></script>
    <script src="/assets/dashboard/js/email-app.js"></script>
    <script src="/assets/dashboard/js/form-validation-custom.js"></script>
    <script src="/assets/dashboard/js/todo/todo.js"></script>
    <script src="/assets/dashboard/js/countdown.js"></script>
    <script src="/assets/dahsboard/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/dahsboard/js/datatable/datatables/datatable.custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>
    <script src="/assets/dashboard/js/form-wizard/verification.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      io.on('delete-barcode', (id) => {
        io.emit('data-deleted', { type: 'barcode', id });

        socket.on('data-deleted', (data) => {
          if (data.type === 'barcode') {
            const deletedRow = document.getElementById(`barcode-row-${data.id}`);
            if (deletedRow) {
              deletedRow.remove();
            }
          }
        });
      });

      socket.on('notification', (data) => {
        if (data.type === 'success') {
          CustomNotify.success(data.message);
        } else if (data.type === 'error') {
          CustomNotify.error(data.message);
        }
      });
    </script>
    <script>
      var toastElements = document.querySelectorAll('.toast');
      toastElements.forEach(function (toastElement) {
        var toast = new bootstrap.Toast(toastElement, { animation: true });
        toast.show();
      });

      setTimeout(function () {
        toastElements.forEach(function (toastElement) {
          var toast = bootstrap.Toast.getInstance(toastElement);
          toast.hide();
        });
      }, 4000);
    </script>
    <!-- Plugins JS Ends-->
    <!-- Datatable Extension -->
    <script src="/assets/dashboard/js/datatable/datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.buttons.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/jszip.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/buttons.colVis.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/pdfmake.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/vfs_fonts.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.autoFill.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.select.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/buttons.bootstrap4.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/buttons.html5.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/buttons.print.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.bootstrap4.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.responsive.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/responsive.bootstrap4.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.keyTable.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.colReorder.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.fixedHeader.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.rowReorder.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/dataTables.scroller.min.js"></script>
    <script src="/assets/dashboard/js/datatable/datatable-extension/custom.js"></script>
    <!-- Theme js-->
    <script src="/assets/dashboard/js/script.js"></script>
    <script src="/assets/dashboard/js/changepassword.js"></script>
    <!-- Plugin used-->
    <script>
      new WOW().init();
    </script>
    <!-- DatePicker -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.js"></script>
    <script src="https://npmcdn.com/flatpickr@4.6.6/dist/l10n/id.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"
      integrity="sha512-2xXe2z/uA+2SyT/sTSt9Uq4jDKsT0lV4evd3eoE/oxKih8DSAsOF6LUb+ncafMJPAimWAXdu9W+yMXGrCVOzQA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script>
      flatpickr('.timepicker', {
        enableTime: true,
        noCalendar: true,
        dateFormat: 'H:i',
        theme: 'airbnb',
      });
    </script>
  </body>
</html>
