<div class="form-wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 d-none d-lg-inline">
        <figure class="mb-5">
          <img class="img-fluid" src="/images/sign_in_sign_up.svg" alt="" />
        </figure>
        <div class="text-center d-none d-lg-inline">
          <p>You can now <a href="sign-in.html">sign in</a> or <a href="sign-up.html">create an account</a>.</p>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-2 pt-4">
        <div class="logo text-center text-lg-left">
          <img src="/images/logo.png" alt="logo" />
        </div>
        <div class="my-5 text-center text-lg-left">
          <h3 class="font-weight-bold mb-3">Change Password</h3>
          <p class="text-muted">Change your password to log in.</p>
        </div>
        <div class="card">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="password">New password</label>
                <div class="form-icon-wrapper">
                  <input type="password" class="form-control" id="password" placeholder="Enter password" autofocus required />
                  <i class="form-icon-left mdi mdi-lock"></i>
                  <a href="#" class="form-icon-right password-show-hide" title="Hide or show password">
                    <i class="mdi mdi-eye"></i>
                  </a>
                </div>
              </div>
              <div class="form-group">
                <label for="password2">Retype password</label>
                <div class="form-icon-wrapper">
                  <input type="password" class="form-control" id="password2" placeholder="Enter password" autofocus required />
                  <i class="form-icon-left mdi mdi-lock"></i>
                  <a href="#" class="form-icon-right password-show-hide" title="Hide or show password">
                    <i class="mdi mdi-eye"></i>
                  </a>
                </div>
              </div>
              <div class="text-center text-lg-left">
                <button class="btn btn-primary">Change Password</button>
              </div>
              <div class="text-center d-block d-lg-none mt-3 mt-lg-0">You can now <a href="sign-in.html">sign in</a> or <a href="sign-up.html">create an account</a>.</div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
