<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Taufiq Project || Sign Up</title>
    <!--====== Favicon Icon ======-->
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png" />
    <link rel="manifest" href="/assets/images/site.webmanifest" />
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap-4.5.3/css/bootstrap.min.css" type="text/css" />
    <!-- Material design icons -->
    <link rel="stylesheet" href="/assets/icons/material-design-icons/css/mdi.min.css" type="text/css" />
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet" />
    <!-- Latform styles -->
    <link rel="stylesheet" href="/assets/css/latform-style-3.min.css" type="text/css" />
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/dashboard/css/font-awesome.css" />
  </head>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    #centered-card {
      max-width: 400px;
    }
  </style>
  <body>
    <div class="container"><%- body %></div>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
    <!-- Jquery -->
    <script src="/assets/vendor/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/vendor/bootstrap-4.5.3/js/bootstrap.min.js"></script>
    <!-- Latform scripts -->
    <script src="/assets/js/latform.min.js"></script>
    <!-- Latform scripts -->
    <script src="/assets/js/sign-up.js"></script>
    <script src="/assets/dashboard/js/changepassword.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bcryptjs/2.4.3/bcrypt.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.24.0/dist/axios.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
    </script>
  </body>
</html>
