<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-6">
          <h3>Change Password</h3>
        </div>
        <div class="col-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/dashboard">
                <svg class="stroke-icon">
                  <use href="/assets/dashboard/svg/icon-sprite.svg#stroke-home"></use></svg
              ></a>
            </li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Change Password</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid starts-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5>Change Password</h5>
          </div>
          <div class="container mt-5 mb-5">
            <div class="row">
              <div class="col-md-12 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <form class="form-horizontal mar-top-bot-50" method="POST" action="/change-password">
                  <fieldset>
                    <!-- Current Password -->
                    <% if (user.verified) { %>
                    <div class="form-group mb-3">
                      <label class="col-md-12 control-label" for="current-password">current Password</label>
                      <div class="col-md-12">
                        <input id="change-current-password" name="currentPassword" type="password" placeholder="Enter Current Password" class="form-control input-md" value="<%= user.password %>" required />
                      </div>
                    </div>
                    <% } %>
                    <!-- Password input-->
                    <div class="form-group mb-3">
                      <label class="col-md-12 control-label" for="passwordinput"> New Password </label>
                      <div class="col-md-12">
                        <input
                          id="change-password"
                          name="newPassword"
                          type="password"
                          placeholder="Enter New Password"
                          class="form-control input-md"
                          data-placement="bottom"
                          data-toggle="popover"
                          data-container="body"
                          type="button"
                          data-html="true"
                          required />
                        <div id="popover-password">
                          <p>Password Strength: <span id="result"> </span></p>
                          <ul class="list-unstyled">
                            <li class="">
                              <span class="low-upper-case"><i class="fa fa-times" aria-hidden="true"></i></span>&nbsp; 1 lowercase &amp; 1 uppercase
                            </li>
                            <li class="">
                              <span class="one-number"><i class="fa fa-times" aria-hidden="true"></i></span> &nbsp;1 number (0-9)
                            </li>
                            <li class="">
                              <span class="one-special-char"><i class="fa fa-times" aria-hidden="true"></i></span> &nbsp;1 Special Character (!@#$%^&*).
                            </li>
                            <li class="">
                              <span class="eight-character"><i class="fa fa-times" aria-hidden="true"></i></span>&nbsp; Atleast 8 Character
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- Repeat Password -->
                    <div class="form-group mb-3">
                      <label class="col-md-12 control-label" for="passwordinput"> New Password Confirmation </label>
                      <div class="col-md-12">
                        <input id="change-confirm-password" name="confirmPassword" type="password" placeholder="Enter Confirm Password" class="form-control input-md" required />
                        <!-- Updated input name -->
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="termsCheckbox" required />
                          I agree to the <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalLong">Terms and Conditions</a>
                          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Scrolling modal</h5>
                                  <button class="btn-close py-0" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <h6>Wed designer</h6>
                                  <div class="d-flex mt-3">
                                    <div class="flex-shrink-0"><i class="svg-modal" data-feather="arrow-right-circle"></i></div>
                                    <div class="flex-grow-1 ms-2">
                                      <p>For a site to be successful, a designer must be able to communicate their ideas, chat with a firm about what they want, and inquire about the target audience.</p>
                                    </div>
                                  </div>
                                  <div class="d-flex mt-2">
                                    <div class="flex-shrink-0"><i class="svg-modal" data-feather="arrow-right-circle"></i></div>
                                    <div class="flex-grow-1 ms-2">
                                      <p>
                                        As a web designer, you either prefer to work freelance for several different businesses at once or you may choose to work for just one. In either case, you'll need good time management skills to keep
                                        several projects moving forward.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="d-flex mt-2">
                                    <div class="flex-shrink-0"><i class="svg-modal" data-feather="arrow-right-circle"></i></div>
                                    <div class="flex-grow-1 ms-2">
                                      <p>
                                        Although a designer doesn't write the code that makes a site work, it doesn't hurt to have a basic understanding of HTML or CSS to make minor adjustments to a site. You'll find it simpler to edit
                                        templates, improve typefaces, or change item placements if you have a basic understanding of how things work.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="d-flex my-2">
                                    <div class="flex-shrink-0"><i class="svg-modal" data-feather="arrow-right-circle"></i></div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="pb-4">
                                        Most businesses employ a certain font or typography so that clients can quickly distinguish them from their rivals. Since designers now have access to a wider variety of fonts, firms may more easily
                                        and precisely communicate their brands through typography.
                                      </p>
                                    </div>
                                  </div>
                                  <h6>UX designer</h6>
                                  <div class="d-flex mt-3">
                                    <div class="flex-shrink-0"><i class="svg-modal" data-feather="arrow-right-circle"></i></div>
                                    <div class="flex-grow-1 ms-2">
                                      <p>
                                        User research, persona creation, building wireframes and interactive prototypes, and testing ideas are among the common tasks of a UX designer. These duties can differ greatly between organizations.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="d-flex mt-3">
                                    <div class="flex-shrink-0"><i class="svg-modal" data-feather="arrow-right-circle"></i></div>
                                    <div class="flex-grow-1 ms-2">
                                      <p>
                                        Create solutions that will be helpful for the issues and situations that exist right now, not for those that will. With the right materials, assist people in organizing their time, completing things
                                        more quickly, and optimizing it.
                                      </p>
                                    </div>
                                  </div>
                                  <div class="d-flex mt-3">
                                    <div class="flex-shrink-0"><i class="svg-modal" data-feather="arrow-right-circle"></i></div>
                                    <div class="flex-grow-1 ms-2">
                                      <p>Based on the data received from users, improve them. Adapt existing solutions to the requirements, hopes, difficulties, and expectations of users.</p>
                                    </div>
                                  </div>
                                  <div class="d-flex mt-3">
                                    <div class="flex-shrink-0"><i class="svg-modal" data-feather="arrow-right-circle"></i></div>
                                    <div class="flex-grow-1 ms-2">
                                      <p>
                                        Keep in mind that you are creating solutions to particular challenges for a particular population living in a particular habitat. Always remember to correctly contextualise your thoughts and determine
                                        whether they are actually appropriate for the situation. It's sometimes necessary to concede that a digital solution is not the most appropriate choice in a certain circumstance.
                                      </p>
                                    </div>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                  <button class="btn btn-primary" type="button" data-bs-dismiss="modal">I Accept</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </label>
                      </div>
                    </div>
                  </fieldset>
                  <div class="btn-showcase text-end">
                    <button class="btn btn-primary" type="submit">Save Password</button>
                    <input class="btn btn-light" type="reset" value="Discard" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Container-fluid Ends-->
</div>
