<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taufiq Project || Success</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="col-md-4">
        <div class="border border-3 border-success"></div>
        <div class="card bg-white shadow p-5">
          <div class="mb-4 text-center">
            <img src="https://www.mindful-life.eu/public/site/img/success_icon.gif" alt="" />
          </div>
          <div class="text-center">
            <h1>Thank You!</h1>
            <h3><%= name %></h3>
            <p>Barcode-QR scanner has been successfully</p>
            <button class="btn btn-outline-success" id="done">Done</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      var backButton = document.getElementById('done');
      backButton.addEventListener('click', function () {
        window.close();
      });
    </script>
  </body>
</html>
